<div [hidden]="submitted"  id="container">
    <h3>Query</h3>
    <form>
        {{diagnostic}}
        <div class="form-group">
            <label for="query">Query:</label>
            <textarea class="form-control" rows="10" id="query"
                required
                [(ngModel)]="module" name="query">
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
    </form>
</div>
<div  [hidden]="!submitted" id="render">
    <h3>Result</h3>
    <h2>{{result}}</h2>
    <button class="btn btn-primary" (click)="submitted=false">edit</button>
</div>


