



<ul class="nav nav-tabs">
    <li>
        <button  class="switch_page" (click)="switchbt(0)">addData</button>
    </li>
    <li>
        <button  class="switch_page" (click)="switchbt(1)">courses_ui</button>
    </li>
    <li>
        <button  class="switch_page" (click)="switchbt(2)">rooms_ui</button>
    </li>
    <li>
        <button  class="switch_page" (click)="switchbt(3)">schedule_ui</button>
    </li>
    <li>
        <button  class="switch_page" (click)="switchbt(4)">feed_ui</button>
    </li>
</ul>
<div [hidden]="!active[0]">
    <add_data></add_data>
</div>
<div [hidden]="!active[1]">
    <courses-ui (updateCoursesI)="coursesIChange($event)"></courses-ui>
</div>
<div [hidden]="!active[2]">
    <rooms-ui (updateRoomsI)="roomsIChange($event)"></rooms-ui>
</div>
<div [hidden]="!active[3]">
    <schedule-ui [courses]="courses_ret" [rooms]="rooms_ret"></schedule-ui>
</div>
<div [hidden]="!active[4]">
    <feed-ui ></feed-ui>
</div>