<h2>Courses</h2>

<h3>Current filter</h3>
<p *ngFor="let f of filters">{{f}}</p>
<div class="form-group">
    <label for="logic">Logical relation between all the filters </label>
    <select class="form-control"  id="logic"
            required
            [(ngModel)]="logicConnection" name="logic">
        <option *ngFor="let p of logocalConnectionList" [value]="p">{{p}}</option>
    </select>
</div>


<h3>Create new filter</h3>
<form class="form-horizontal">

    <label for="filter_type">Select new filter type </label>
    <select class="form-control"  id="filter_type"
            required
            [(ngModel)]="filterType" name="logic">
        <option *ngFor="let p of filter_typeList" [value]="p">{{p}}</option>
    </select>

    <div [hidden]="!filterType">
        <p>{{filterType}}</p>
        <div *ngIf="filterType=='Section size'">
            <label for="cpk">choose comparison key </label>
            <select  class="form-control"  id="cpk"
                    required
                    [(ngModel)]="comparisonKey" name="cpk">
                <option *ngFor="let p of comparisonKeyList" [value]="p">{{p}}</option>
            </select>
            <label for="c_value">enter value</label>
            <input type="NUMBER" class="form-control" id="c_value"
                   required
                   [(ngModel)]="comparisonValue" name="c_value">
        </div>
        <div *ngIf="filterType!='Section size'">
            <label for="c_value">enter value</label>
            <input type="text" class="form-control" id="ct_value"
                   required
                   [(ngModel)]="comparisonValue" name="ct_value">
        </div>

    </div>


</form>