<h2>Rooms</h2>

<table style="width:100%">
    <tr>
        <th>Cureent filters</th>
    </tr>
    <tr *ngFor="let f of filters">{{f}}</tr>
</table>

<button type="button" class="btn btn-default" (click)="deleteFilters()">empty all filters</button>


<h4>Create new filter</h4>
<label for="filter_type">Select new filter type </label>
<select class="form-control"  id="filter_type"
        required
        [(ngModel)]="filterType" name="filter_type">
    <option *ngFor="let p of filter_typeList" [value]="p">{{p}}</option>
</select>

<div [hidden]="!filterType">
    <p>{{filterType}}</p>
    <div *ngIf="filterType=='Room size'">
        <label for="cpk">choose comparison key </label>
        <select  class="form-control"  id="cpk"
                 required
                 [(ngModel)]="comparisonKey" name="cpk">
            <option *ngFor="let p of comparisonKeyList" [value]="p">{{p}}</option>
        </select>
        <label for="c_value">enter value</label>
        <input type="NUMBER" class="form-control" id="c_value"
               required
               [(ngModel)]="comparisonValue" name="c_value">
    </div>
    <div *ngIf="filterType!='Room size'">
        <label for="c_value">enter value</label>
        <input type="text" class="form-control" id="ct_value"
               required
               [(ngModel)]="comparisonValue" name="ct_value">
    </div>
    <div>
        <button type="button" class="btn btn-default" (click)="addFilter()">add a filter</button>
    </div>
</div>

<h3>Find</h3>
<form class="rooms_query" (ngSubmit)="find()" #siteForm="ngForm">
    <label for="logic">Logical relation between all the filters </label>
    <select class="form-control"  id="logic"
            required
            [(ngModel)]="logicConnection" name="logic">
        <option *ngFor="let p of logocalConnectionList" [value]="p">{{p}}</option>
    </select>
    <p>search for rooms within a specified building?</p>
    <label class="switch" for="isLocation">
        <input type="checkbox"  id="isLocation"
               [(ngModel)]="isLocation" name="isLocation"
        >
        <div class="slider round"></div>
    </label>

    <div *ngIf="isLocation">
        <label for="t_b">enter building name</label>
        <input type="text"  id="t_b"
               [(ngModel)]="targetBuilding" name="t_d">
        <label for="t_d">enter distance</label>
        <input type="NUMBER"  id="t_d"
               [(ngModel)]="targetDistance" name="t_d">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!extracheck">find</button>
</form>

<div [hidden] = "!found">
    <h3>Your result:</h3>

    <div *ngIf="result == 'wait...'">
        <p>{{ret_str}}</p>
    </div>
    <div *ngIf="result != 'wait...'&&result!=400&&result!=424">
        <table style="width:100%">
            <tr>
                <th *ngFor="let tab of col">{{tab}}</th>
            </tr>
            <tr *ngFor="let row of result">
                <th *ngFor="let tab of col">{{row[tab]}}</th>
            </tr>
        </table>
    </div>
    <div *ngIf="result == 424">
        <p>{{ret_str}}the query failed because it depends on an id that has not been added.</p>

    </div>
    <div *ngIf="result == 400">
        <p>t{{ret_str}}he query failed.</p>
    </div>
</div>